appdirs==1.4.3
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
black==19.3b0
Click==7.0
colorlog==3.2.0
decorator==4.4.0
distro==1.4.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
importlib-metadata==0.18
ipython==7.7.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.14.1
mccabe==0.6.1
more-itertools==7.2.0
nox==2019.5.30
numpy==1.17.0
packaging==19.0
pandas==0.25.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.1.1
pytest==5.0.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
toml==0.10.0
tox==3.13.2
traitlets==4.3.2
virtualenv==16.7.2
wcwidth==0.1.7
zipp==0.5.2
